DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=your_lms_db
DB_PORT=5432
JWT_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
GIN_MODE=debug
TZ=Asia/Jakarta
